@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@layer base {
  body {
    /* Màu nền gradient xanh dương nhạt / trắng giống Figma */
    background-color: #E8EDFF;
    background-image: radial-gradient(circle at top left, #ffffff 0%, #E8EDFF 50%, #C4D3FF 100%);
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    color: #333333;
  }
}

@layer utilities {
  /* Class dùng để giấu thanh cuộn ở các khối trượt ngang */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}